body .navbar {
    display: flex;
    width: 100%;
    height: 80px;
    font-family: 'Source Sans Pro', sans-serif;
    justify-content: center !important;
    background-color: #f4f5f9;
}
body .navbar .navbar-brand {
    display: flex;
    align-items: center;
    width: 160px;
    height: 80px;
    float: left;
    user-select: none;
}
body .navbar .navbar-brand img {
    height: 80%;
}
body .navbar .link-group {
    max-width: 100%;
    transition: 1s;
    margin-left: 10rem;
}
ul{
    list-style-type: none
}
body .navbar .link-group ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80%;
    float: left;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin: 0px 10px;
}
body .navbar .link-group ul li a {
    text-decoration: none;
    color: #1A2B48;
}
body .navbar .link-group ul li a span {
    display: none;
}
body .navbar .link-group ul li:hover {
    border-bottom: 2px solid #cc704b;
}
body .navbar .mobile-btn {
    display: none;
}
@media screen and (max-width: 930px) {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
   }
   body .navbar{
       justify-content: flex-start !important;
   }
   body .navbar .navbar-brand{
       
    margin-left: 10rem;
   }
    body .navbar .link-group {
        max-width: 100%;
        height: auto;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.2);
        float: right;
        top: 80px;
        user-select: none;
        border-radius: 10px 0px 0px 10px;
   }
    body .navbar .link-group ul {
        height: 100%;
        right: 11%;
   }
    body .navbar .link-group ul li {
        justify-content: start;
        width: 95%;
        height: 60px;
        margin-bottom: 10px;
        padding: 20px;
        border-radius: 5px;
   }
    body .navbar .link-group ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
   }
    body .navbar .link-group ul li a span {
        display: block;
        padding: 0px 16px;
   }
    body .navbar .link-group ul li:hover {
        background-color: darkgray;
        border: none;
   }
    body .navbar .mobile-btn {
        position: absolute;
        float: right;
        right: 20px;
        top: 10px;
        display: block;
        user-select: none;
   }
    body .navbar .mobile-btn span {
        color: #1A2B48;
        font-size: 60px;
   }
    body .navbar .mobile-btn .open {
        cursor: pointer;
   }
    body .navbar .mobile-btn .close {
        cursor: pointer;
        display: none;
        color: maroon;
   }
}


body{
    font-family: Arial;
}
.navbar{
    padding: 0 !important;
}
.nav-item a{
    color: #1A2B48;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #1A2B48;
    transition: all 0.3s;
}
.container{
    max-width: 70% !important;
}.container .row{
    padding: 0 10rem;
}
.advSearchbar
{

  background: linear-gradient(0deg,rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(https://bookingfleet.com/BookingFleet/public/uploads/demo/general/home-mix.jpg) ;
  background-color: green;;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
    /* align-content: center; */

}

.searchBarParent{
  width: 100%;
  border-radius: 10px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 200px 25px 0px 25px;
}


.searchWrapperParent {
    padding: 10px;
    margin: 50px 0 0;
  }
  

  .searchTabBTN
  {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .searchTabBTN:hover
  {
    background: #14141482;
  }
  .searchTabBTN:focus
  {
    background: #14141482;
  }
  
  .searchTabBTN:active
  {
    background: var(--primary);
  }  
  .SearchFiltersTab .searchTabBTN
{
  background: #14141482;
  text-transform: capitalize;
  font-size: 12px;
}


.MohjoSearchTxt {
  margin-bottom: 20px;
  color: #fff;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 500;
  font-size: 54px;
}
.sub-heading{
    font-size: 18px;
    color: #FFF;
    font-weight: normal;
}
.search-nav{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.search-tabs{
    border: none;
    margin-top: 50px;
}
.g-form-control .search-tabs li a.active {
    background-color: #000036;
    border-color: #000036;
}
.g-form-control .search-tabs li a {
    background-color: #1A2B47;
    color: #fff;
    border-color: #1A2B47;
    padding: 7px 25px;
    border-radius: 3px 3px 0 0;
    font-size: 14px;
    margin-right: 1px;
    text-decoration: none;
    display: block;
}

.bravo-form-search-all {
    padding: 90px 0;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}.bravo-form-search-all .text-heading {
    font-weight: 500;
    font-size: 54px;
    color: #FFF;
}.bravo-form-search-all .sub-heading {
    font-size: 18px;
    color: #FFF;
    font-weight: normal;
} .bravo-form-search-all .g-form-control {
    margin: 50px 0 0;
}.page-template-content .bravo-form-search-all .g-form-control .nav-tabs {
    border: none;
    margin-top: 50px;
}.bravo-form-search-all .g-form-control .nav-tabs li a.active {
    background-color: #000036;
    border-color: #000036;
}.bravo-form-search-all .g-form-control .nav-tabs li a.active {
    background-color: #5192FA;
    color: #fff;
    border-color: #5192FA;
} .bravo-form-search-all .g-form-control .nav-tabs li a {
    background-color: #1A2B47;
    color: #fff;
    border-color: #1A2B47;
    padding: 7px 25px;
    border-radius: 3px 3px 0 0;
    font-size: 14px;
    margin-right: 1px;
    text-decoration: none;
    display: block;
}.bravo-form-search-all .g-form-control .tab-content {
    position: relative;
}.tab-content > .active {
    display: block;
}.tab-content > .tab-pane {
    display: none;
}.bravo_form {
    background: #FFFFFF;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}.bravo_form .g-field-search {
    flex: 0 0 90%;
    max-width: 90%;
    flex-grow: 1;
    padding: 0 15px;
}.bravo_form .g-button-submit {
    flex: 0 0 10%;
    max-width: 10%;
    flex-grow: 1;
    position: relative;
} .bravo_form .form-content {
    position: relative;
    padding: 20px 0 10px 55px;
    transition: all 0.3s;
}.bravo_form .form-content label {
    font-size: 14px;
    color: #5E6D77;
    font-weight: 400;
    margin-bottom: 0px;
}.bravo_form .smart-search, .bravo_form .input-search {
    position: relative;
}.bravo_form .smart-search .parent_text[readonly], .bravo_form .smart-search .form-control[readonly], .bravo_form .input-search .parent_text[readonly], .bravo_form .input-search .form-control[readonly] {
    cursor: pointer;
}.bravo_form .smart-search .form-control{
    border: none;
    box-shadow: none;
    font-size: 16px;
    color: #5191FA;
    position: relative;
    left: 0 !important;
    padding: 0 !important;
    height: 25px;
    background: transparent;
}.form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}input.form-control {
    height: 40px;
}.form-control {
    border: 1px solid #DAE1E7;
    border-radius: 3px;
    box-shadow: none;
    font-size: 14px;
}.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}input {
    overflow: visible;
}.bravo-form-search-all .search-container{
    max-width: 80%;
    margin: 0 auto
}.bravo_form .g-button-submit button, .btn.btn-primary {
    background: #000036;

}.bravo_form .g-button-submit button {
    height: 100%;
    width: 100%;
    border-radius: 0px 5px 5px 0px;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    padding: 0;
}.bravo_form .form-group {
    margin-bottom: 0;
}.bravo_form .field-icon {
    position: absolute;
    top: 50%;
    margin-top: -18px;
    font-size: 40px;
    color: #5191fa;
    left: 15px;
}

/* filters */
.bravo_filter {
    border: 1px solid #D7DCE3;
    border-radius: 3px;
    margin-bottom: 30px;
}
.bravo_filter .filter-title {
    font-size: 16px;
    color: #1A2B48;
    margin-bottom: 5px;
    margin-top: 30px;
    font-weight: 500;
}.bravo_filter .g-filter-item {
    border: none;
    border-top: 1px solid #D7DCE3;
    border-radius: 0px;
    margin-bottom: 0px;
    padding: 20px;
}.bravo_filter .g-filter-item .item-title {
    cursor: pointer;
    position: relative;
}.bravo_filter .g-filter-item .item-title h3 {
    font-size: 14px;
    color: #1A2B48;
    line-height: 23px;
    margin: 0;
    font-weight: 500;
}.bravo_filter .g-filter-item .item-title .fa {
    font-size: 22px;
    color: #1A2B48;
    right: 0;
    top: 2px;
    position: absolute;
}.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}.bravo_filter .g-filter-item .item-content {
    margin-top: 20px;
}.bravo_filter .g-filter-item .item-content ul {
    list-style: none;
}.bravo-checkbox {
    margin-bottom: 15px;
}.bravo-checkbox label {
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 14px;
    color: #5E6D77;
    font-weight: normal;
    margin-bottom: 0px;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
.bravo-checkbox input {
    margin-right: 5px;
}
input[type=checkbox], input[type=radio] {
    border: 1px solid #b4b9be;
    background: #fff;
    color: #555;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 16px;
    margin: -4px 4px 0 0;
    outline: 0;
    padding: 0 !important;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    min-width: 16px;
    -webkit-appearance: none;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    transition: 0.05s border-color ease-in-out;
}
input[type="radio"], input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}.bravo-checkbox input[type=checkbox] + .checkmark {
    background-repeat: no-repeat !important;
    background-position: center;
}
.bravo-checkbox .checkmark {
    display: inline-block;
    height: 17px;
    left: 0;
    position: absolute;
    top: 0;
    width: 17px;
    border: solid 1px #A0A9B2;
    border-radius: 2px;
    background: #fff;
}.bravo-checkbox .fa-star {
    color: #fa5636;
    font-size: 15px;
    position: relative;
    top: -1px;
    margin-right: 3px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}.irs--flat.irs-with-grid {
    height: 60px;
}.irs--flat {
    height: 40px;
}.irs {
    position: relative;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
    font-family: Arial,sans-serif;
}.bravo_detail_location .bravo_content .g-location-module .item-loop .service-review .rate, .bravo_detail_location .bravo_content .g-trip-ideas .trip-idea .trip-idea-category, .bravo_footer .main-footer .nav-footer .context ul li a:hover, .bravo_detail_tour .bravo_content .g-attributes .list-attributes .item i.icon-default, .bravo_detail_space .bravo_content .g-attributes .list-attributes .item i.icon-default, .page-template-content .bravo-list-hotel .item-loop .service-review .rate, .page-template-content .bravo-list-tour.box_shadow .list-item .item .caption .title-address .title a:hover, .bravo-list-item .list-item .item-loop .service-review .rate, .bravo_filter .g-filter-item .item-content .btn-apply-price-range {
    color: #000036;
}.irs {
    position: relative;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
    font-family: Arial,sans-serif;
}.irs-grid {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
}.bravo_filter .g-filter-item .item-content .bravo-filter-price .irs--flat .irs-bar {
    top: 25px;
    height: 12px;
    background-color: #000036;
}.irs-bar {
    position: absolute;
    display: block;
    left: 0;
    width: 0;
}.irs--flat .irs-bar {
    top: 25px;
    height: 12px;
    background-color: #ed5565;
}.irs--flat .irs-shadow {
    height: 1px;
    bottom: 16px;
    background-color: #e1e4e9;
}

.irs-shadow {
    position: absolute;
    display: none;
    left: 0;
    width: 0;
}.irs--flat .irs-shadow {
    height: 1px;
    bottom: 16px;
    background-color: #e1e4e9;
}.irs-shadow {
    position: absolute;
    display: none;
    left: 0;
    width: 0;
}.irs--flat .irs-handle {
    top: 22px;
    width: 16px;
    height: 18px;
    background-color: transparent;
}.irs-handle {
    position: absolute;
    display: block;
    box-sizing: border-box;
    cursor: default;
    z-index: 1;
}.irs--flat .irs-line {
    top: 25px;
    height: 12px;
    background-color: #e1e4e9;
    border-radius: 4px;
}
.irs-line {
    position: relative;
    display: block;
    overflow: hidden;
    outline: none !important;
}.irs--flat .irs-min, .irs--flat .irs-max {
    top: 0;
    padding: 1px 3px;
    color: #999;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    background-color: #e1e4e9;
    border-radius: 4px;
}.irs-min {
    left: 0;
}.irs-min, .irs-max {
    position: absolute;
    display: block;
    cursor: default;
}.irs-from, .irs-to, .irs-single {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    cursor: default;
    white-space: nowrap;
}.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
    color: white;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background-color: #ed5565;
    border-radius: 4px;
}.bravo_filter .g-filter-item .item-content .bravo-filter-price .irs--flat .irs-from, .bravo_filter .g-filter-item .item-content .bravo-filter-price .irs--flat .irs-to, .bravo_filter .g-filter-item .item-content .bravo-filter-price .irs--flat .irs-single {
    font-size: 11px;
    background-color: #000036;
}


/* footer */
.bravo_footer .mailchimp {
    padding-top: 65px;
    padding-bottom: 40px;
    background: #F5F5F5;
}

.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}.bravo_footer .mailchimp .media-left {
    padding-right: 30px;
} .bravo_footer .mailchimp .media-left i {
    font-size: 80px;
    top: -10px;
    position: relative;
}.media-body {
    -ms-flex: 1;
    flex: 1;
} .bravo_footer .mailchimp .media-body .media-heading {
    font-size: 24px !important;
}.bravo_footer .mailchimp .media-body p {
    font-size: 16px !important;
    color: #5E6D77 !important;
}.bravo_footer .mailchimp .subcribe-form {
    position: relative;
}input {
    overflow: visible;
}input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
} .bravo_footer .mailchimp .subcribe-form .form-control {
    height: 55px;
    line-height: 53px;
    font-size: 14px;
    box-shadow: none;
    border-color: #D7DCE3;
}.bravo_footer .mailchimp .subcribe-form .btn-submit {
    border: none;
    border-radius: 0 5px 5px 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 55px;
    line-height: 55px;
    color: #FFF;
    background: #1a2b48;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 600;
    text-transform: uppercase;
}.fa-spinner {
    display: none;
}.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8);
}

.bravo_footer .main-footer {
    margin: 20px 0;
}

.bravo_footer .copy-right {
    border-top: 1px solid #EAEEF3;
}.bravo_footer .copy-right .context {
    position: relative;
    padding: 40px 15px;
}.bravo_footer .copy-right p {
    margin-bottom: 0;
}.bravo_footer .copy-right .context .f-visa {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
}.bravo_footer .copy-right p {
    margin-bottom: 0;
}

@media only screen and (max-width: 1024px)
{ .bravo_form .g-field-search [class*=col-] {
    flex: 0 0 100% !important;
    max-width: 100% !important;
}.bravo_form .border-right {
    border-right: none !important;
}.bravo_form .form-group {
    border-bottom: solid 1px #ccc;
}
    .bravo_form .g-field-search {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }.bravo_form .form-group {
        border-bottom: solid 1px #ccc;
    }.bravo_form .g-button-submit {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        text-align: right;
    }.bravo_form .g-button-submit button {
        height: auto;
        width: auto;
        position: relative;
        margin: 10px 15px;
        border-radius: 5px;
        display: inline-block;
        padding: 8px 15px;
        font-weight: normal;
    }

  .advSearchbar
  {
    position: relative;
  }
  .searchBarParent{
   
    padding: 100px 30px;
  }
}
@media only screen and (max-width: 768px)
{
    
  .searchBarParent{
    padding: 100px 15px;
  }

  .searchWrapperParent {
    padding:  15px;
  }
}
@media only screen and (max-width: 520px)
{
  .searchBarParent{
    height: auto;
  }
  .searchWrapperParent
  {
    height: auto;
    padding: 8px;
  }
  .SearchFiltersTab .searchTabBTN
  {
    font-size: 10px;
  }
  .MohjoSearchTxt {
    font-size: 24px;
  }
}

.offer-item:hover .btn-signup{
    opacity: 1;
    bottom: 60px;

}

.offer-item:hover .item-title {
    margin-top: 25px;
}

.offer-item:hover .img-cover {
    transform: scale(1.1);
}
.bravo-list-hotel .item-loop .thumb-image:hover a img {
    transform: scale(1.1);
}
.bravo-list-locations.style_4 .list-item .destination-item:hover .effect {
    opacity: 0.2;
}.bravo-list-locations.style_4 .list-item .destination-item:hover .content h4:after {
    width: 70px;
}.bravo-list-space .item-loop .thumb-image:hover a img {
    transform: scale(1.1);
}.bravo-list-news .item-news .thumb-image:hover a img {
    transform: scale(1.1);
}

